body {
    font:20px;
    -webkit-text-fill-color: black;
    background-image: url("logo/ray-hudson.jpeg");
    font-family: 'Lucida Sans';
}

.bgimg-page-wrapper{
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

#background-img {
    position: absolute;
    min-height: 100%;
    background-position: center;
    background-size: cover;
    opacity: 0.2;
}

#welcome {
    position: absolute;
    font-family: "Sacramento";
    background-color: rgba(211, 211, 211, 0.599);
}

#user-name {
    position: absolute;
    width: 410px;
    height: 40px;
    top: 40%;
    border-radius: 4px;
    text-align: center;
    font-size: 40px;
    font-style: italic;
    font-family: "Sacramento";
    background-color: rgba(0, 79, 82, 0.679);
}

#quote-container {
    margin: auto;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 50%;
    width: auto;
}
