body {
    font:20px;
    -webkit-text-fill-color: black;
    background-image: url("logo/ray-hudson.jpeg");
    font-family: 'Lucida Sans';
}

.bgimg-page-wrapper{
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

#background-img {
    position: absolute;
    min-height: 100%;
    background-position: center;
    background-size: cover;
    opacity: 0.2;
}

#welcome {
    position: absolute;
    font-family: "Sacramento";
    background-color: rgba(211, 211, 211, 0.599);
}

#user-name {
    position: absolute;
    width: 410px;
    height: 40px;
    top: 40%;
    border-radius: 4px;
    text-align: center;
    font-size: 40px;
    font-style: italic;
    font-family: "Sacramento";
    background-color: rgba(0, 79, 82, 0.679);
}

#quote-container {
    margin: auto;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 50%;
    width: auto;
}

#find-quotes {
    padding: 7px;
    position: fixed;
    top: 50%;
    bottom: 50%;
    width: 200px;
    height: 65px;
    background: #023b35;
    box-shadow: 0px 0px 16px #3a7dbb;
    border-radius: 2px;
    z-index: 3;
    border: 2px solid;
    transition: all 1s ease-in-out;
    border-image: linear-gradient(#0c4607, rgba(11, 21, 1, 0.378)) 30;
    box-shadow: 0px 0px 36px #1366bf;
    transition: all 2s ease-in-out;
    
    font-family: "Sacramento";
    text-align: center;
    font-size: 35px;
    -webkit-text-fill-color: white;

    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-around;
    align-items: center;
    cursor: pointer;
}

div h2, div a{
    padding: 5px;
    font-size: 45px;
    margin: auto;
    font-family: "Sacramento";
    text-align: center;
}

